@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.hlogin{
    color: #fff !important;
    padding: 5px;
    padding-right: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #96C658;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.hlogin1{
    color: #fff !important;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100px;
    background-color: #28a7db;
    margin-left: -72px !important;
    margin-right: 0px !important; 
}

.hlogin2{
    color: #fff !important;
    padding: 5px;
    padding-left: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #242424;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.header-panel-top {
    width: 100%;
    background: #f4f4f4;
    margin-bottom: 12px;
    height: 35px;
    line-height: 33px;
}
.header-panel-top span {
    color: #242424;
    font-weight: 700;
    font-size: 10px;
    margin-right: 12px;
}
.container{
    padding-left:10px; 
    padding-right:10px;
    margin-left:160px !important;
    margin-right:160px !important;
    width: auto!important;
}
.header-panel-top a {
    color: #242424;
    padding-left: 12px;
    border-left: 1px solid #bcbcbc;
    font-weight: normal;
    font-size: 12px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.search-bar {
    display: block!important;
}
.search-box {
    margin-top: 25px;
    box-sizing: border-box;
}
.search{
    border: 1px solid #c6c6c6;
    color: #666;
    width: 100%;
    line-height: 14px;
    padding: 0 30px 0 42px;
    height: 31px;
    background: url(../images/search-icon.png) 12px 5px no-repeat #fff;
}
.input-group-btn{
    position: absolute;
    right: 0;
    top: 0;
}
.sbutn{
    width: 92px;
    height: 31px;
    display: block;
    padding: 0 10px 0 0;
    position: absolute;
    top: 0;
    color: #fff;
    right: 10px;
    border-radius: 5px;
    margin-top: 25px;
    background: url(../images/search-button.png) 90% 5px no-repeat #96C658;
    border: 1px solid #96C658;
    font-size: 12px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: initial;
    line-height: 29px;
}
.sbutn:hover{
    background: url(../images/search-button.png) 90% 5px no-repeat #92c83f;
}

.welc {
    color: #313131;
    font-weight: 700;
    padding-left: 15px;
    margin-top: 3px;
    font-size: 12px;
}

.customer-links, .customer-links a {
    color: #96C658;
    font-size: 12px;
    padding-left: 8px;
}
.customer-links, .customer-links a:hover{
    text-decoration: none;
}
.div-welc1{
    float: left;
    margin-top: 20px;
}
.div-welc2{
    float: right;
    margin-top: 10px;
}
.div-welc2:hover{
    border-color: #92c83f;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0px;
}
.div-welc2:hover .first,.second{
    font-size: 10px;
}

.cart{
    margin-top:     14px;
}
.first {
    position: relative;
    font-weight: 600;
    font-size: 12px;
    margin-left: 5px;
}
.second{
    position: relative;
    font-weight: 700;
    font-size: 12px;
    color: #96C658;
}
.count-group{
    margin-left: 35px;
    margin-top: -16px;
}
img:hover{
    opacity: .5;
}

.cbtn{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #313131;
    font-weight: 700;
    border-color: #313131;
    border-width: 3px;
    border-style: solid;
}

.cbtn:hover{
    text-decoration: none;
    background-color: #313131;
    color:#fff;
}

.dropbtn {
    height: 54px !important;
    border: none !important;
    background-color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 400px;
    z-index: 1;
    top:60px;
    border-color: #92c83f !important;
    border-width: 1px !important;
    border-style: solid !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-content p{
    font-size: 12px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .first,.second{
    font-size: 10px;
}
.dropdown:hover .dropbtn {
    border-color: #92c83f !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-bottom-width: 0px !important;
}
.sidebarhead{
    background-color:#96C658;
    color:#fff;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-right:4px;
    padding-left: 12px;
}
.midlehead{
   color:#313131;
   font-size: 12px;
   font-weight: 600;
   text-shadow: none;
   border-width:1px;
   border:1px solid #c6c6c6;
   border-left:0;
   height: 40px;
   padding-left: 10px;
   padding-right: 10px;
   line-height:40px
}
.midlehead a{
   color:#313131 !important;
}
.midlehead a:hover{
    text-decoration: none;
}
.midlehead .mitem1{
}
.midlehead .mitem2{
    margin-left: 10px;
}
#m1:hover{
    color: #4b40b2 !important;
}
#m2:hover{
    color: #4b40b2 !important;
}
#m3:hover{
    color: #4b40b2 !important;
}
#m4:hover{
    color: #4b40b2 !important;
}
.shoplinks
{
    padding-left: 0px;
    list-style: none;
}
.shoplinks .text{
    margin-left: 10px;
}
.shoplinks li{
  font-size: 13px;
  color: #000;
  font-weight: 400;
  height: 33px;
  line-height: 33px;
  border: 1px solid #e9e8e8;
  border-top: 0;
  background: #fff;
}
.shoplinks>li:hover {
    
}
.shoplinks li .fa{
    margin-top: 10px;
    margin-right: 10px;
    color: #838383;
}
.shoplinks>li:hover .fa-caret-right{
    color: #fff;
}
.homeslider{
    padding-top:10px;
    padding-left: 10px;
    width: 100%;
    height: 330px;
    display: inline-block;
}
.homeslider .carousel-indicators li{
    border-color: #96C658;
    border-style: solid;
    border-width: 1px;
}
.carousel-indicators{
    bottom: -50px !important;
}
.carousel-indicators li.active{
    background-color: #96C658 !important;
}
.homeslider img{
    height:320px !important;
}
.box{
    width: 100%;
    background: #96C658;
    color:#fff;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
    border-style: solid;
    border-width: 1px;
    border-color: #96C658;
    border-top: none;
}
.box2{
    width: 100%;
    background: #fff;
    color:#96C658;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
    border-style: solid;
    border-width: 1px;
    border-color: #96C658;
    border-top: none;
}
.box2::after{
    content: '';
    position: absolute;
    left: 42%;
    top: 0px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-bottom-color: #fff !important;
    color: #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #e8e8e8;
    clear: both;
}
.box2 span{
    color:#838383;
}
.header-fixed{
   display: none;
   z-index: 20;
   padding-top: 10px;
   position: fixed;
   top:0px;
   right: 0px;
   left: 0px;
   bottom: 0px;
   height: 50px;
   background-color: #fff;
   box-shadow: 0px 0px 10px  #888888;
}
.sidebanners{
    width: 100%;
    padding-top: 10px;
    height: 330px;
    display: inline-block;
}
.col-sbanner{
    padding-left: 0px;
}
.col-sbanner img{
    width: 100%;
    height: 152.5px
}

.col-slidemain{
    padding-left: 0px;
}
.slider2-label{
    font-size: 14px;
    font-weight: 700;
    color:#313131;
}
.slider2-label:hover{
    color:#96C658;
    text-decoration: none !important;
    text-decoration-line: none !important;
}
.imgbanner3{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
}
.backtotop{
    background: url(../images/icons_new14.png) 13px -1553px no-repeat #000;
    z-index: 99;
    font-size: 0;
    height: 52px;
    position: fixed;
    right: 40px;
    top: 50%;
    width: 52px;
    cursor: pointer;
    margin: 0;
    display: none;
}
.hline{
    height: 1px;
    background-color: #e9e8e8;
    width: 100%;
}
.line-head{
    font-weight: 700;
    font-size: 20px;
}
.line-head span{
    color: #96C658;
}
.slider3-label{
    font-size: 14px;
    color:#313131;
}
.slider3-label:hover{
    text-decoration: none;
    color: #313131;
}
.slider3-label div{
    font-size: 12px;
}
.discount{
    background-color:#96C658;
    width: 45px;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 14px;
}
.discount span{
    font-size: 10px;
    font-weight: 700;
}
.product{
    border: none;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color:  #e9e8e8;
}
.item .product:nth-child(6) {  
  border-right-width: 0px;
}
.product:hover .slider3-label img{
    opacity: .5;
}
.qview{
    border-radius: 4px;
    border: none;
    padding: 10px 5px 10px 5px;
    font-size: 11px;
    font-weight: 900;
    color:#fff;
    width: 100px;
    position: absolute;
    top:130px;
    left: 25%;
    display: none;
}
.qview:hover{
    background-color: #313131;
}
.product:hover .qview{ 
    display: block;
}
.qselect,.qfix{
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:80px;
    height: 31px;
    border-radius: 5px;
}
.qselect:focus{
    border: none;
}
.nprice{
    color: #028f88!important;
    margin-left: 5px;
}
.oprice{
    text-decoration:line-through;
}
.addbtn{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    border-color:#e9e8e8; 
    border-radius: 5px;
    font-size: 15px;
    background-color: #96C658 !important;
}
.addbtn span{
    color: #fff;
    margin-left: 10px;
    margin-top: 5px;
}
.qmang{
    display: none;
    max-width: 150px;
}
.qmang i{
    background-color:  #96C658 !important;
    color:#fff;
    padding: 10px;
}
.qmang .fa-minus{
    border-width: 1px;
    border-style: solid;
    border-color: #028f88;
    border-right-width: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 13px;
    padding-right: 14px;
}

.qmang .fa-plus{
    
    border-width: 1px;
    border-style: solid;
    border-color: #028f88;
    border-left-width: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 14px;
    padding-right: 13px;
}
.qmang span{
    font-size: 15px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 8px;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #028f88;
}
.cartfhead{
    font-size: 20px;
}
.cartftop{
    content: ' ';
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color:  #313131;
}
.cartfhead span{
    color:#96C658;
}
.bcartview{
    color: #fff;
    background: #96C658;
    border: none;
    height: 40px;
}
.coutview{
    color: #fff;
    background: #92c83f;
    border: none;
    height: 40px;
}

.message{
    z-index: 99;
    height: 50px;
    position: fixed;
    right: 40px;
    bottom: 20px;
    width: 170px;
    background-color: #92c83f;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    border-radius: 50px;
}
.fa-comment{
    font-size: 30px !important;
    margin-top: 6px;
    margin-left: 10px;
    color:#fff;
}
.messagetext{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px
}
.contactform{
    padding-bottom: 20px;
    padding-top: 20px;
    z-index: 99;
    height:auto;
    position: fixed;
    padding-left: 10px;
    color: #96C658;
    font-size: 20px;
    font-weight: 700;
    padding-right: 10px;
    right: 40px;
    bottom: 0px;
    background-color: #fff;
    border-color: #96C658;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin: 0;
    width: 320px;
    border-radius: 5px;
}
#contactform{
    display: none;
}
.sbtn
{
    border: none;
    background-color: #96C658;
    color:#fff;
    width: 100%;
}
.cinput{
    border: none;
    background-color: #e9e8e8;
    width: 100%;
}
@media (min-width:0px) and (max-width:991px)
{
    .xs-hidden{
        display: none;
    }
    .container{
        margin-right:10px !important;
        margin-left: 10px !important;
    }   
    .header-panel-top {
        height: auto;
        width: 100%;
    }
    .pull-right{
        float:none !important;
    }
    .sbutn{
        margin-top: 0px;
    }
    .col-slider{
        padding-right: 10px;
        padding-left: 10px;
    }
    .col-sbanner{
        padding-right: 10px;
        padding-left: 10px !important;
    }
    .col-slidemain{
        padding-left: 10px;
    }
    .col-sbanner{
        padding-left: 20px !important;
    }
    .col-sbanner img{
        height: auto;
    }
    .sidebanners{
        height: auto;
        padding-bottom: 10px;
        padding-top: 40px;
    }
    .homeslider{
        height: auto;
    }    
    .homeslider img{
        height:auto !important;
        width: 100%;
    }
    .product{
        border: none;
    }
}
@media (min-width:0px) and (max-width:500px){
    .dropdown-content{
        min-width: 290px;
    }
}
@media (min-width:992px) and (max-width:1007px){
    .container{
        margin-left:0px !important;
        margin-right:0px !important; 
    }
}
@media (min-width:1008px) and (max-width:1029px){
    .container{
        margin-left:0px !important;
        margin-right:0px !important; 
    }
}

@media (min-width:1030px) and (max-width:1100px){
    .container{
        margin-left:20px !important;
        margin-right:20px !important; 
    }
}

@media (min-width:1101px) and (max-width:1200px){
    .container{
        margin-left:50px !important;
        margin-right:50px !important; 
    }
}


@media (min-width:1201px) and (max-width:1250px){
    .container{
        margin-left:100px !important;
        margin-right:100px !important; 
    }
}

@media (min-width:1251px) and (max-width:1300px){
    .container{
        margin-left:130px !important;
        margin-right:130px !important; 
    }
}


@media (min-width:1301px) and (max-width:1307px){
    .container{
        margin-left:150px !important;
        margin-right:150px !important; 
    }
}



.carousel-control             { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:0px;background-image:none;}
@media (max-width: 767px) {
    .carousel-inner .active.left { left: -100%; }
    .carousel-inner .next        { left:  100%; }
    .carousel-inner .prev        { left: -100%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev        { left: -50%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }
    .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
    .carousel-inner .active.left { left: -25%; }
    .carousel-inner .next        { left:  25%; }
    .carousel-inner .prev        { left: -25%; }    
}